.Rproj.user
.Rhistory
*.RData
.Ruserdata
.rds
.json
.html
.httr-oauth
/source_2021/8_day_project_kaggle/kaggle_home_credit/data/*
/source_2021/kaggle_home_credit/data/*
/mecab*
.zip
/source_2021/8_day_kaggle_project/kaggle_credit_card/data/*
/LightGBM