body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: red;
}

.link {
  color: yellow;  font-weight: 800;
}

.italic_font {
  font-style: italic;
}

li:first-child {
  color: blue;
}

li:nth-child(2) {
  color: green;
}

li:nth-child(3) {
  color: red;
}